*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

    /* navbar */

.text{
    color: azure;
    display: flex;
    flex-wrap: wrap;
}

.img_box{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/311ebf9ec39a5c1f8b8241af/pexelsphoto1927507.jpeg);
}

h1{
    position: absolute;
    top: 75px;
    left: 250px;
    font-size: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    position: absolute;
    top: 450px;
    left: 250px;
    font-size: 200px;
}

    /* showcase */

.showcase{
    width: 100%;
    height: 80vh;
    background-color: #7da2a9;
}

.showcase_box{
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "p1 p2"
    "p3 p4"
    ;
}



.text1{
    font-size: 30px;
}

.text2, h3{
    font-size: 20px;
    color: azure;
}

    /* showcase - 2 */



.showcase2{
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    font-size: 22px;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "space1 space1 space1"
    "space2 space3 space4"
    "space5 space6 space7"
    ;
}

.inform p, i{
    /* width: 350px; */
    gap: 30px;
    margin: 10px;
}

.inform:nth-child(1){
    grid-area: space1;
    text-align: center;
    margin-top: auto;
}
.inform:nth-child(2){
    grid-area: space2;
}
.inform:nth-child(3){
    grid-area: space3;
}
.inform:nth-child(4){
    grid-area: space4;
}
.inform:nth-child(5){
    grid-area: space5;
}
.inform:nth-child(6){
    grid-area: space6;
}
.inform:nth-child(7){
    grid-area: space7;
}

/* showcase - 3 */

.showcase3{
    background: #18181e;
    width: 100%;
    height: 100vh;
}

.container2{
    width: 70%;
    margin: auto;
    display: flex;
    gap: 30px;
}



img{
    background-image: url(https://globusgurme.ru/upload/iblock/525/9kdveteqcniveoxyvb1qkoiknupaprfi.jpg);
    width: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s ease;
    border-radius: 25px;
}

.matn p{
    color: aliceblue;
    margin: 30px 0;
    font-size: 25px;
}


a{
    color: aliceblue;
    font-size: 15px;
}

.button{
    background-color:#7da2a9 ;
    width: 22%;
    padding: 10px 30px; 
}

.foto{
    margin-top: 150px;
}
.obshiy{
    margin: auto;
}

.button:hover{
    background: #67a1ac;
}

.foto>img:hover{
    scale: 0.85;
    box-shadow: 10px 26px 60px rgba(68, 77, 136, 0.3);
}

    /* showcase-4 */

    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    .container3{
        background-color: #ecf4fb;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-gallery {
      width: 80%;
      margin: 5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-auto-rows: minmax(300px, 1fr);
      gap: 30px;
    }
    
    .img-gallery > img {
      display: block;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      transition: 0.6s ease;
    }
    
    .img-gallery img:hover {
      scale: 0.85;
      box-shadow: 10px 26px 60px rgba(68, 77, 136, 0.3);
    }

    /* footer */

    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    
    /* body {
      display: flex;
      background: #333;
      justify-content: flex-end;
      align-items: flex-end;
      min-height: 100vh;
    } */
    
    .footer {
      position: relative;
      width: 100%;
      background: #3586ff;
      min-height: 100px;
      padding: 20px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    .social-icon,
    .menu {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-wrap: wrap;
    }
    
    .social-icon__item,
    .menu__item {
      list-style: none;
    }
    
    .social-icon__link {
      font-size: 2rem;
      color: #fff;
      margin: 0 10px;
      display: inline-block;
      transition: 0.5s;
    }
    .social-icon__link:hover {
      transform: translateY(-10px);
    }
    
    .menu__link {
      font-size: 1.2rem;
      color: #fff;
      margin: 0 10px;
      display: inline-block;
      transition: 0.5s;
      text-decoration: none;
      opacity: 0.75;
      font-weight: 300;
    }
    
    .menu__link:hover {
      opacity: 1;
    }
    
    .footer p {
      color: #fff;
      margin: 15px 0 10px 0;
      font-size: 1rem;
      font-weight: 300;
    }
    
    .wave {
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100px;
      background: url("https://i.ibb.co/wQZVxxk/wave.png");
      background-size: 1000px 100px;
    }
    
    .wave#wave1 {
      z-index: 1000;
      opacity: 1;
      bottom: 0;
      animation: animateWaves 4s linear infinite;
    }
    
    .wave#wave2 {
      z-index: 999;
      opacity: 0.5;
      bottom: 10px;
      animation: animate 4s linear infinite !important;
    }
    
    .wave#wave3 {
      z-index: 1000;
      opacity: 0.2;
      bottom: 15px;
      animation: animateWaves 3s linear infinite;
    }
    
    .wave#wave4 {
      z-index: 999;
      opacity: 0.7;
      bottom: 20px;
      animation: animate 3s linear infinite;
    }
    
    @keyframes animateWaves {
      0% {
        background-position-x: 1000px;
      }
      100% {
        background-positon-x: 0px;
      }
    }
    
    @keyframes animate {
      0% {
        background-position-x: -1000px;
      }
      100% {
        background-positon-x: 0px;
      }
    }